# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary Files
*.tmp